body {
        background-color: #3F9F5B;
        font-family: Oswald;
      }

      .app {
        text-align-last: right;
        border-style: groove;
        border-color: #3F9F5B;
        background-color: #79B473;
        display: flex;
        flex-direction: column; /* Align items vertically */
        gap: 40px; /* Adds space between each app. */
      }

      .main-window {
        border: 5px solid;
        padding: 20px;
        width: 400px;
        resize: both;
        overflow: auto;
        background-color: #79B473;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .warn {
        font-size: 20px;
      }

      .about_aos {
        color: grey;
      }

      .settings-opt {
        color: black;
        background-color: #79B473;
        border-style: groove;
        border-color: #3F9F5B;
      }

      .security-settings {
        resize: both;
        overflow: auto;
        background-color: green;
        display: none;
      }

      .customize-desktop {
        display: none;
        position: absolute;
        background-color: green;
        border: 1px solid #ccc;
        width: 400px;
      }

      #about_window {
        text-align: center;
      }

      .security-opt1 {
        border-style: groove;
        border-color: #3F9F5B;
      }

      #logout-window {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 2px solid black;
        z-index: 10;
      }
      .opt-button {
        border-style: groove;
        background-color: green;
        font-style: Oswald;
      }

     .logout {
}
